<!-- include boilerplates.ejs -->
<%- layout("/layouts/boilerplate") %>



<!--Bootstrap : Alerts to show warnings and alerts-->
<div class="container mt-3">
    <div class="row">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            <h4>Error <%= err.statusCode %></h4>
            <p><%= err.message %></p>
        </div>
    </div>
</div>
